body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.droppable-box {
    width: 200px;
    height: 100px;
    border: 2px dashed #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffled-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 80%;
}

.item {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    background-color: #f9f9f9;
    user-select: none;
}

.item.dragging {
    opacity: 0.5;
}


@keyframes return {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.return-animation {
    animation: return 0.5s ease;
}
